@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Proxima Nova", system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
}

.react-calendar {
  width: 100% !important;
  font-family: "Proxima Nova", system-ui, sans-serif !important;
  border: none !important;


}
.react-calendar__tile--active {
    background: #C3EBFA !important;
    color: black !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding-right: 15px!important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
 background-color: #dbdafe !important;
box-shadow: none !important;

}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border-top: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 16px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 98% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fffdd5 !important;
}
.rbc-event:nth-child(3) {
  background-color: #fde0e0 !important;
}
.rbc-event:nth-child(4) {
  background-color: #ebe2ff !important;
}
.rbc-event:nth-child(5) {
  background-color: #facef3 !important;
}
.rbc-event:nth-child(6) {
  background-color: #e2ffe2 !important;
}
.rbc-event:nth-child(7) {
  background-color: #ffffe2 !important;
}
.rbc-event:nth-child(8) {
  background-color: #ffe2e2 !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px !important;

}
.rbc-event-content {
  font-weight: 600 !important;
}

